.links {
    color: #181818;
    text-decoration: none;
}

.links:hover {
    color: #0A6BC4;
    text-decoration: underline;
}

.btnExp:hover {
    background-color: #F3F3F3;
}

.btnShowExp:hover {
    color: black;
}